
.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 350px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
}

.container > button{
    font-size: large;
}

.information{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
